@import 'https://fonts.googleapis.com/css?family=Montserrat';
/*
Montserrat, 400
*/
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.container-fluid {
  width: 100%;
  background-image: url(../img/bg/header-bg.png);
  height: 977px;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  flex-direction: row;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
.logo-holder {
  padding-top: 50px;
  padding-bottom: 30px;
}
.navigation-holder {
  padding-top: 70px;
  padding-bottom: 30px;
}
.nav-lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.nav-list {
  padding-left: 30px;
}
.nav-list a {
  font-family: Montserrat;
  font-size: 1.25rem;
  line-height: 0.7;
  text-decoration: none;
  transition: 0.2s ease-out;
  padding-bottom: 7px;
  border-bottom: 0px solid #216238;
  outline: none;
}
.nav-list a:hover,
.nav-list a:active,
.nav-list a:focus {
  color: #1ecb5c;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #216238;
}
.nav-list a:active {
  color: #1ecb5c;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #216238;
}
/*.nav {
  height: 120px;
}*/
