@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700,900';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700';
@import 'https://fonts.googleapis.com/css?family=Muli: 400,700';
@import 'https://use.fontawesome.com/releases/v5.0.10/css/all.css';
/* Montserrat, 400,900 */
/* Playfair Display, 400 */
/* Muli,400 */
body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  background-image: url(../img/bg/header-bg.png);
  height: 977px;
  padding-left: 0;
  padding-right: 0;
}
.container {
  width: 1140px;
  height: 770px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}
.row {
  display: flex;
  flex-direction: row;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}
.logo-holder {
  padding-top: 50px;
  padding-bottom: 30px;
}
.navigation-holder {
  padding-top: 70px;
  padding-bottom: 30px;
}
.nav-lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.nav-list {
  padding-left: 30px;
}
.nav-list a {
  color: #ffffff;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 1.25rem;
  line-height: 0.7;
  text-decoration: none;
  transition: 0.2s ease-out;
  padding-bottom: 7px;
  border-bottom: 0px solid #623821;
  outline: none;
}
.nav-list a:hover,
.nav-list a:active,
.nav-list a:focus {
  color: #cb5c1e;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #623821;
}
.nav-list a:active {
  color: #cb5c1e;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid #623821;
}
header {
  width: 760px;
}
.heading-1 {
  font-family: Montserrat;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.subtitle {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5;
  color: #ffffff;
}
.header-text {
  font-family: Muli;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
  padding-bottom: 20px;
}
.button {
  font-family: Montserrat;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.7;
  height: 42px;
  width: 164px;
  border-radius: 60px;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 28px;
  padding-top: 15px;
  padding-bottom: 13px;
  color: #757575;
  text-decoration: none;
}
.service-row {
  width: 100%;
  background-image: url(../img/bg/service-bg.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  height: 496px;
  position: relative;
  top: -150px;
  margin-right: 0;
}
.service-box {
  padding-left: 0;
  padding-right: 0;
}
.service-box .row {
  margin-left: 0;
  margin-right: 0;
}
.service-box-header {
  font-size: 1.25rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.75;
  text-transform: uppercase;
  margin-bottom: auto;
  margin-top: auto;
  padding-top: 105px;
  padding-left: 30px;
  padding-right: 30px;
  height: 173px;
}
.header-main {
  color: #ffffff;
}
.service-box-text {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}
.text-main {
  color: #ffffff;
}
.service-box-icon {
  display: inline-flex;
  padding-top: 120px;
}
.service-box-btn {
  position: absolute;
  bottom: 25px;
  left: -20px;
}
.col-2,
.col-10 {
  padding-left: 0;
  padding-right: 0;
}
.company-container {
  position: absolute;
  left: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.company-value {
  width: 760px;
  z-index: 1000;
  color: black;
}
.company-bg-block {
  height: 640px;
  display: flex;
  flex-direction: row;
}
.bg-foto {
  width: 50%;
}
.bg-foto:after {
  display: flex;
  width: 700px;
  height: 100%;
  position: absolute;
  content: '';
  background-image: url(../img/bg/company.jpg);
  background-repeat: no-repeat;
  background-position: right top;
}
.bg-icon {
  width: 20%;
}
.bg-icon:after {
  display: flex;
  width: 920px;
  height: 100%;
  position: absolute;
  content: '';
  background-image: url(../img/bg/basis-company.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.company-graph {
  height: 380px;
  width: 100%;
  background-image: url(../img/icons/special-company.png);
  background-repeat: no-repeat;
  text-align: center;
}
