.company-value {
  width: 760px;
  z-index: 1000;
}

.company-bg-block {
  height: 640px;
  display: flex;
  flex-direction: row;
}

.bg-foto {
  width: 50%;
}

.bg-foto:after {
  display: flex;
  width: 700px;
  height: 100%;
  position: absolute;
  content: '';
  background-image: url(../img/bg/company.jpg);
  background-repeat: no-repeat;
  background-position: right top;
}

.bg-icon {
  width: 20%;
}

.bg-icon:after {
  display: flex;
  width: 1150px;
  height: 100%;
  position: absolute;
  content: '';
  background-image: url(../img/bg/basis-company.png);
  background-repeat: no-repeat;
  background-position: right top;
}
