@link-nav-text: saturate(@touch-color, 25%);
@link-nav-border: darken(@touch-color, 20%);

.nav-row {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
}

.logo-holder {
  padding-top: 50px;
  padding-bottom: 30px;
}

.navigation-holder {
  padding-top: 70px;
  padding-bottom: 30px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.nav-list {
  padding-left: 30px;

  a {
    font-family: Montserrat;
    font-size: 1.25rem;
    line-height: 0.7;
    text-decoration: none;
    transition: 0.2s ease-out;
    padding-bottom: 7px;
    border-bottom: 0px solid @link-nav-border;
    outline: none;

    &:hover, &:active, &:focus {
      color: @link-nav-text;
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 1px solid @link-nav-border;
    }
    &:active {
      color: @link-nav-text;
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 1px solid @link-nav-border;
    }
  }
}
