.service-box-header {
  font-size: 1.25rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.75;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.service-box-text {
  text-align: justify;
}
.service-box-icon {
  display: inline-flex;
}
